.navigation {
  display: flex;
  margin-right: 42px;
  justify-content: flex-end;
  flex: 1;
  gap: 76px;
}

.navigation__link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  font-family: "roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  box-sizing: border-box;
}

.navigation__link_active {
  border-bottom: 3px solid #fff;
}

.navigation__link_dark {
  color: #1a1a1a;
}

.navigation__link_dark.navigation__link_active {
  border-bottom: 3px solid #1a1a1a;
}

@media screen and (max-width: 768px) {
  .navigation {
    margin: 0 16px 0 0;
    gap: 16px;
  }

  .navigation__link {
    font-size: 16px;
    padding: 8px 16px;
  }
}

@media screen and (max-width: 320px) {
  .navigation {
    display: none;
  }
}
