.navigation {
  display: flex;
  margin-right: 42px;
  justify-content: flex-end;
  flex: 1;
}

.navigation__link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  width: 49px;
  height: 24px;
}

.navigation__link_dark {
  color: #1a1a1a;
}
