.home {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.home__hero {
  width: 100%;
  box-sizing: border-box;
  min-height: 576px;
  display: flex;
  align-items: center;
  gap: 32px;
  flex-direction: column;
  padding-top: 80px;
  background: url("../../assets/home_bckgrd.jpg") center/cover no-repeat;
}

.home__hero-title {
  font-size: 60px;
  color: #ffffff;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 0;
}

.home__hero-description {
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
