.header {
  width: 100%;
  height: 80px;
  position: absolute;
  background-color: transparent;
  border-bottom: 1px solid #c4c4c433;
  z-index: 1;
  font-family: "roboto", sans-serif;
}

.header__inner {
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__logo {
  color: #fff;
  margin: 30px 0 26px 104px;
  width: 200px;
  height: 24px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.header__button {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 104px;
  width: 176px;
  height: 48px;
  border-radius: 100px;
  border: 1px solid #fff;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 500;
}
.header_dark {
  background-color: #fff;
  border-bottom: 1px solid #d1d1d1;
}

.header__logo_dark {
  color: #1a1a1a;
}

.header__button_dark {
  color: #1a1a1a;
  border-color: #1a1a1a;
}

@media screen and (max-width: 768px) {
  .header {
    height: 66px;
  }

  .header__logo {
    margin: 22.73px 0 18.47px 40px;
  }

  .header__inner {
    margin-right: 40px;
  }

  .header__button {
    height: 40px;
    font-size: 16px;
    margin-right: 40px;
  }

  .header__button_loggedout {
    width: 152px;
  }

  .header__button_loggedin {
    width: auto;
    padding: 0 16px;
    white-space: nowrap;
    margin-right: 0;
  }
}
